.RecipeGraph {
  flex-grow: 1;
  overflow: hidden;
  border: 2px solid var(--rf-border-color);
  border-radius: 8px;
  background-color: var(--rf-purple);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

.RecipeGraphContainer {
  flex-grow: 1;
}

.RecipeGraphInfo {
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--rf-purple-grey);
  padding: 8px;
  box-shadow: -2px 0px 32px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: 100ms transform;
}

.RecipeGraphInfoWithContent {
  transform: translateX(0) !important;
}

.RecipeGraphInfoClose {
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  padding: 4px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: hsl(from var(--rf-purple-grey) h s calc(l - 25));
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: 32px;
  font-family: "PixelFont";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.RecipeGraphInfoClose:hover {
  background-color: hsl(from var(--rf-purple-grey) h s calc(l - 15));
}

.RecipeGraphInfoClose::after {
  content: "x";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.RecipeGraphInfo header {
  font-family: "PixelFont";
  text-decoration: underline;
  font-size: 32px;
  letter-spacing: -0.1rem;
  color: var(--rf-purple);
}

.RecipeGraphInfo section {
  font-family: "M5X7";
  line-height: 50%;
  font-size: 32px;
  color: hsl(from var(--rf-purple-grey) h s calc(l - 35));
  padding: 4px;
}

.RecipeGraphInfo ul {
  margin-left: 8px;
  padding: 0;
}

.RecipeGraphInfo li {
  margin-left: 8px;
  padding: 4px;
  color: hsl(from var(--rf-purple-grey) h s calc(l - 35));
}

.RecipeGraphInfo a {
  display: inline;
  --pico-underline: hsl(from var(--rf-purple-grey) h s calc(l - 35));
  --pico-primary: hsl(from var(--rf-purple-grey) h s calc(l - 35));
  cursor: pointer;
}

.RecipeGraphInfo a:hover {
  --pico-primary-hover-underline: hsl(
    from var(--rf-purple-grey) h s calc(l - 25)
  );
  --pico-primary-hover: hsl(from var(--rf-purple-grey) h s calc(l - 25));
}
