.RecipeSearch {
  position: absolute;
  top: 4px;
  left: 4px;
  max-width: 35%;
  width: 100%;
  padding: 2px;
  margin: 0;
  opacity: 0.75;
  transition: opacity 1s;
}

.RecipeSearch:hover,
.RecipeSearch:focus {
  opacity: 1;
}

.RecipeSearch input {
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65), 3px 3px 20px rgba(0, 0, 0, 0.3),
    3px 3px 40px rgba(0, 0, 0, 0.15), inset 0 0 6px rgba(0, 0, 0, 0.15);
  border: 2px solid hsl(from var(--rf-purple-grey) h s calc(l + 10));
  background: var(--rf-purple-grey);
  color: hsl(from var(--rf-purple-grey) h s calc(l - 35));
  outline: none;
  font-size: 24px;
  font-family: "PixelFont";
}

.RecipeSearch input::placeholder {
  color: hsl(from var(--rf-purple-grey) h s calc(l - 15));
}

.RecipeSearchClear {
  position: absolute;
  right: 8px;
  top: 33%;
  opacity: 0;
  cursor: pointer;
  padding: 4px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: hsl(from var(--rf-purple-grey) h s calc(l - 25));
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: 32px;
  font-family: "PixelFont";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translate(0, -33%);
  transition: opacity 0.25s ease-out;
}

.RecipeSearchClearActive {
  opacity: 1 !important;
}

.RecipeSearchClear:hover {
  background-color: hsl(from var(--rf-purple-grey) h s calc(l - 15));
}

.RecipeSearchClear::after {
  content: "x";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
