.RecipeGraph {
  flex-grow: 1;
  overflow: hidden;
  border: 2px solid hsl(from var(--rf-purple) h s calc(l * 1.5));
  border-radius: 8px;
  background-color: var(--rf-purple);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

.RecipeGraphContainer {
  flex-grow: 1;
}

.RecipeGraphInfo {
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: hsl(from var(--rf-purple) h s calc(l * 1.5));
  padding: 8px;
  box-shadow: -2px 0px 32px rgba(0, 0, 0, 0.5);
}

.RecipeGraphInfoClose {
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  padding: 4px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: #6973a1;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: 32px;
  font-family: "PixelFont";
}

.RecipeGraphInfoClose::after {
  content: "x";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.RecipeGraphInfo header {
  font-family: "PixelFont";
  text-decoration: underline;
  font-size: 32px;
  letter-spacing: -0.1rem;
  color: #fcf3ff;
}

.RecipeGraphInfo section {
  font-family: "M5X7";
  line-height: 50%;
  font-size: 32px;
  color: #efd5f7;
  padding: 4px;
}

.RecipeGraphInfo ul {
  margin-left: 8px;
  padding: 0;
}

.RecipeGraphInfo li {
  margin-left: 8px;
  padding: 4px;
  color: #efd5f7;
}

.RecipeGraphInfo a {
  display: inline;
  --pico-underline: #efd5f7;
  --pico-primary: #efd5f7;
  cursor: pointer;
}

.RecipeGraphInfo a:hover {
  --pico-primary-hover-underline: #d4a5e2;
  --pico-primary-hover: #d4a5e2;
}
