.Navigation {
  display: flex;
  position: fixed;
  gap: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--page-padding);
  margin: 0 auto;
  justify-content: center;
  font-size: var(--menu-font-size);
  background: var(--rf-purple);
  background: linear-gradient(
    180deg,
    hsl(from var(--rf-purple) h s calc(l * 0.4) / 0) 0%,
    hsl(from var(--rf-purple) h s calc(l * 0.4)) 100%
  );

  @media (width > 64rem) {
    position: relative;
    background: none;
  }
}

.Link {
  line-height: 1;
  min-width: max-content;
  font-size: inherit;
}

.Navigation a {
  transition: filter 0.25s ease-out;
}

.Navigation a:hover {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5))
    drop-shadow(0 15px 30px #d1580288) drop-shadow(0 -25px 30px #ffd96e55);
}
