.CrtEffect {
  position: fixed;
  left: -100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  background-image: url("/public/crt-line.png");
  background-repeat: repeat;
  background-size: 100% 2px;
  z-index: -1;
  opacity: 0.5;
  animation: bg-movement;
  image-rendering: pixelated;
}
