@keyframes title-animation {
  0% {
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(1) contrast(0) brightness(2.5) opacity(0.5);
  }
}

.PageContainer {
  display: flex;
  flex-direction: column;
  height: 100svh;
  padding: var(--page-padding) var(--page-padding)
    calc(var(--page-padding) * 2 + var(--menu-font-size));
  padding-bottom: 0px !important;

  @media (width > 64rem) {
    padding: var(--page-padding);
  }
}

.PageContainer h1 {
  text-align: center;
  letter-spacing: -0.1rem;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.PageContainer img {
  height: 6rem;
  object-fit: scale-down;
  margin-bottom: 8px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5))
    drop-shadow(0 15px 30px #d1580288) drop-shadow(0 -25px 30px #ffd96e55);
}

.PageContainer footer {
  margin-top: 8px;
  font-family: "M5X7";
  text-align: center;
  font-size: 24px;
}

.PageContainer footer strong {
  color: white;
}
