.PageBackground {
  position: fixed;
  left: -100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  background-image: url("/public/grid-tile.png");
  background-repeat: repeat;
  z-index: -100;
  transform: rotate(-50deg);
  opacity: 0.125;
  animation: bg-movement;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  filter: blur(1px);
  image-rendering: pixelated;
}

.PageBackgroundOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -99;
  box-shadow: inset 0 0 30vw rgba(0, 0, 0, 1);
}

@keyframes bg-movement {
  0% {
    /* background-position-x: 0px; */
    transform: rotate(-50deg) translateX(0);
  }
  100% {
    transform: rotate(-50deg) translateX(-32px);
  }
}
