.PageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
}

.PageContainer h1 {
  text-align: center;
  letter-spacing: -0.1rem;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.PageContainer img {
  height: 4rem;
  object-fit: scale-down;
  margin-bottom: 8px;
  filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.5));
}
