.tooltip {
  position: absolute;
  transform: translate(-50%, calc(-100% - 8px));
  z-index: 9999;
  border: 2px solid hsl(from var(--rf-purple) h s calc(l * 3));
  background-color: hsl(from var(--rf-purple) h s calc(l * 0.9));
  padding: 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
  font-family: "M5X7";
  font-size: 24px;
  width: 300px;
  line-height: 90%;
  text-align: center;
}

.tooltip header {
  font-family: "PixelFont";
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
}
