@font-face {
  font-family: "M5X7";
  src: url("../public/m5x7.ttf") format("truetype");
}

@font-face {
  font-family: "PixelFont";
  src: url("../public/FREEPIXEL.TTF") format("truetype");
}

@font-face {
  font-family: "ButtonFont";
  src: url("../public/PIXEL FONT-7.TTF") format("truetype");
}

:root {
  /* Breakpoints */
  --bp-sm: 40rem;
  --bp-md: 48rem;
  --bp-lg: 64rem;
  --bp-xl: 80rem;
  --bp-2xl: 96rem;

  --rf-purple: #2c0339;
  --page-padding: 16px;
  --menu-font-size: 2rem;
}

html {
  background: var(--rf-purple);
  background: linear-gradient(
    180deg,
    hsl(from var(--rf-purple) h s calc(l * .8)) 0%,
    hsl(from var(--rf-purple) h s calc(l * .6)) 100%
  );
}

body {
  --pico-h1-color: rgb(245, 216, 255);
  overflow: hidden;
}

[id*="T0_"] rect {
  fill: #fb92ff !important;
  color: #fb92ff !important;
  stroke: #89358c !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="TC_"] rect {
  fill: #f4aecb !important;
  color: #f4aecb !important;
  stroke: #6c163a !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="T1_"] rect {
  fill: #ffe6ea !important;
  color: #ffe6ea !important;
  stroke: #5b101d !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="TA_"] rect {
  fill: #ffe900 !important;
  color: #ffe900 !important;
  stroke: #5f580a !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="T2_"] rect {
  fill: rgba(255, 165.75, 89.25, 1) !important;
  color: rgba(255, 165.75, 89.25, 1) !important;
  stroke: rgb(110, 59, 14) !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="T4_"] rect {
  fill: rgba(67.065, 255, 132.09, 1) !important;
  color: rgba(67.065, 255, 132.09, 1) !important;
  stroke: rgb(9, 100, 41) !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="TS_"] rect {
  fill: #9fe1f7 !important;
  color: #9fe1f7 !important;
  stroke: #11556c !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="T8_"] rect {
  fill: rgba(62.985, 198.9, 255, 1) !important;
  color: rgba(62.985, 198.9, 255, 1) !important;
  stroke: rgb(7, 72, 99) !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id*="T16_"] rect {
  fill: rgba(249.9, 219.29999999999998, 102, 1) !important;
  color: rgba(249.9, 219.29999999999998, 102, 1) !important;
  stroke: rgb(98, 79, 9) !important;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
}

[id^="flowchart-T"] {
  cursor: pointer;
  transition: opacity 250ms;
}

[id^="flowchart-T"]:hover {
  opacity: 1 !important;
}

.nodeLabel p,
.edgeLabel p {
  color: #111 !important;
  fill: #111 !important;
  font-family: "M5X7";
  font-size: large;
}

h1 {
  font-family: "PixelFont";
}

a,
p {
  font-family: "M5X7";
  font-size: 32px;
}

a {
  --pico-underline: #d15802;
  --pico-primary: #ffd96e;
}

a:hover {
  --pico-primary-hover-underline: #d15802;
  --pico-primary-hover: #d15802;
}

nav a {
  font-family: "PixelFont";
  text-transform: lowercase;
}

a.button-primary {
  display: block;
  background-color: #54a314;
  padding: 2px 16px;
  border-radius: 8px;
  border-bottom: 4px solid #3d790b;
  color: #eefde2 !important;
  text-decoration: none !important;
  font-family: "ButtonFont";
  text-transform: lowercase;
  white-space: nowrap;
  transition: transform 25ms ease-out;
}

a.button-primary:hover {
  display: block;
  background-color: #65b028;
  padding: 2px 16px;
  border-radius: 8px;
  border-bottom: 4px solid #4d9414;
  color: #d3f2b9 !important;
  text-decoration: none !important;
  font-family: "ButtonFont";
  transform: scale3d(110%, 110%, 110%);
}

article {
  background: transparent;
  border: none;
  box-shadow: none;
  max-width: 1080px;
  margin: 0 auto;
}

article h2 {
  text-align: center;
  font-family: "PixelFont";
}
